{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<main>     
    <section >
      <h1  class="center">Purchases</h1>
      <div class="purchase">
        <h3 class="sub_center">Finances</h3>

        <div class="transactions">
          <div class="transaction-row">
            <span class="row_elem" style="color: lightblue">MM/DD/YYYY</span>
            <span class="row_elem" style="color: black">product-holder</span>
            <span class="row_elem" style="color: black">price-holder</span>
            <span class="row_elem" style="color: black">category-holder</span>
          </div>
          <!-- Add more transaction rows as needed -->
        </div>
      </div>
    </section>

</main>

{% endblock %}

{% block style %}
<style>

    .center {
    padding-left: 42vw;
    }
  
    .sub_center {
    padding-left: 47vw;
    }
  
    .transactions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .transaction-row {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-bottom: 1rem;
    }
    
    .row_elem {
        flex-basis: 25%;
        text-align: center;
    }
</style>
{% endblock %}
